@charset "UTF-8";

.clear{clear: both; }

#main_img img{
	margin: 9px 0 0 0;
}

/* ----------------------------------------------------- */

article#front{
	margin: 5px 0 5px 0;
}
#solution{
	width: 910px;
	border: 1px solid #FFFFFF;
	min-height: 150px;
	background-color: #ebebeb;
	padding: 10px;
	margin: 0 0 0 20px;
	border-radius: 10px;
}
